.nav-bg-light {
    /* background: #e3e7ea!important; */
    background: white;
    z-index: -1;
}
#brand {
    height:4em;
}

.nav-item {
    margin-left:2em;
}

.bg{
    background-image: url('../img/bg1.png');
    height: 500px;
    background-position-y: 600px;
    margin-top:-81px;
}

.sonu-logo{
    height: 300px;
    border-radius: 63%;
    margin-top: 4em;
    margin-left:1em;

}


#first,#second,#third,#fourth {
    display: none;

}
.quote span {
    display: block;
    color: white;
    font-size: -webkit-xxx-large;
    font-family: none;
    margin-top: 2em;
    margin-left:-1px;
}

.education {
    background: #71c1e9;
}
.school{
    height:400px;
    margin-top:4em;
    /* background-image: url('../img/Graduation.png'); */
    
}

.school .text-danger a {
    color:red;
}

.school img{
    
        height:300px;
    
}
.circle-white{
    height: 145px;
    background: #48465d;
    border-radius: 137px;
    width: 146px;
    margin-left: 82%;
    margin-top: -4em;
    z-index: 1121211
}

.circle-yellow{
    height: 145px;
    background:#f3be44;
    border-radius: 137px;
    width: 146px;
    margin-left: 61%;
    margin-top: -4em;
}
.job{
    background: #f3be44;
    margin-top:-128px;
}
.circle-green{
    height: 145px;
    background:white;
    border-radius: 137px;
    width: 146px;
    margin-left: 20%;
    margin-top: -4em;
}
.git{
    background: white;
    margin-top:-81px;
}

.circle-blue{
    height: 145px;
    background:#c2e4e6;
    border-radius: 137px;
    width: 146px;
    margin-left: 45%;
    margin-top: -4em;
}
.blog{
    background: #c2e4e6;
    margin-top:-81px;
}

.social {
    background: #838788;
    margin-top:-81px;
}

.circle-social{
    height: 145px;
    background:white;
    border-radius: 137px;
    width: 146px;
    margin-left: 7%;
    margin-top: -4em;
}


.margin-top-2{
    margin-top: 11em;
}

.margin-top-8 {
    margin-top:8em;
}

.exp{
    margin-top:-49px;
}

.school a {
    color:black;
}

.git_image {
    width: 950px;
    height: 362px;
    margin-top: 2em;
}
.skill {
    padding: 1em;
    background: #fdfdfd;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 2px #ff0801;
    margin-top: 19px;
}
.skill.blue {
    padding: 1em;
    background: #fdfdfd;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 2px blue;
    margin-top: 19px;
}

.skill.yellow {
    padding: 1em;
    background: #fdfdfd;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 2px #bdbd49;
    margin-top: 19px;
}

.skill.green {
    padding: 1em;
    background: #fdfdfd;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 2px green;
    margin-top: 19px;
}

.skill.blue {
    padding: 1em;
    background: #fdfdfd;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 2px blue;
    margin-top: 19px;
}

.skill.blue {
    padding: 1em;
    background: #fdfdfd;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 2px blue;
    margin-top: 19px;
}

.skill_div {
    display: inline;
}
.empty {
    height:50px;
}

.facebook {
    background-image: url(../img/social-media-icons.png);
    background-position-x: -49px;
    background-position-y: -48px;
    height: 130px;
    display: inline-block;
    width: 170px;
}

.insta {
    background-image: url(../img/social-media-icons.png);
    background-position-x: -225px;
    background-position-y: -48px;
    height: 130px;
    display: inline-block;
    width: 170px;
}


.pinterest {
    background-image: url(../img/social-media-icons.png);
    background-position-x: -409px;
    background-position-y: -48px;
    height: 130px;
    display: inline-block;
    width: 170px;
}

.twitter {
    background-image: url(../img/social-media-icons.png);
    background-position-x: -409px;
    background-position-y: -228px;
    height: 130px;
    display: inline-block;
    width: 170px;
}

.download {
    position: fixed;
    top: 3px;
    left: 88%;
}
.top {
    position:fixed;
    top:93%;
    left:95%;
}
.btn-primary {
    background-color: #483211;
    border-color: transparent;
}